# compiled output
backend/dist
backend/node_modules
backend/build

# Logs
backend/logs
backend/node_modules/.bin
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
.DS_Store

# Tests
backend/coverage
backend/nyc_output

# IDEs and editors
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

client_secret_318936516142-uvv2i6hvgue7vcuo9bptnpgt7cvmpfle.apps.googleusercontent.com.json